@model List<Bloggie.Web.Models.Domain.Tag>
@{
}
@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover table-dark table-striped ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">DisplayName</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.DisplayName</td>
                        <td>
                            <form method="post" id="myform"></form>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id" asp-controller="AdminTags">Edit</a>
                                <button type="submit" form="myform" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-controller="AdminTags">Delete</button>   
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
}
